<div class="spotsList">

    <h3>{{spot.name}}</h3>
    <img src='{{spot.image}}'>
    <p>{{spot.description}}</p>


 {{!-- Not working: --}}
    {{#each spot.comments}}
    <div>
    <h5> {{this.author}}</h5>
    <p>{{this.text}}</p>
    </div>
    {{/each}}
    


</div>