<div class="spotsList">

    <h3>{{spot.name}}</h3>
    <img src='{{spot.image}}'>
    <p>{{spot.description}}</p>

    <p>
        <a href='/spots/{{spot._id}}/comments/new'>Add Comment</a>
    </p>

    {{#each spot.comments}}
    <div>
    <h5> {{this.author}}</h5>
    <p>{{this.text}}</p>
    </div>
    {{/each}}
    


</div>